<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.pph.mapper.PackageMapper">

    <!-- SQL Statements -->
    <!-- boolean insert(myPackage p) -->
    <insert id="insert">
        insert into locker values(#{number}, #{company}, #{code}, #{currentTime})
    </insert>

    <!-- boolean update(
                   @Param("oldNum") String oldNumber,
                   @Param("newNum") String newNumber,
                   @Param("newCompany") String newCompany,
                   @Param("updateTime") String currentTime) -->
    <update id="update">
        update locker set company=#{newCompany}, date=#{updateTime}, number=#{newNum} where number=#{oldNum}
    </update>

    <!-- boolean deleteByNumber(String number) -->
    <delete id="deleteByNumber">
        delete from locker where number=#{number}
    </delete>

    <!-- myPackage findByNumber(String number)
            resultType: a java type for casting the inspected data
            resultMap: a customized map for one-to-one or one-to-more
    -->
    <select id="findByNumber" resultType="myPackage">
        <!-- #{key}: placeholder, ${key}: String concatenation -->
        select * from locker where number = #{number}
    </select>

    <!-- boolean findByCode(int code) -->
    <select id="findByCode" resultType="myPackage">
        select * from locker where code = #{code}
    </select>

    <!-- List<myPackage> checkAll() -->
    <select id="checkAll" resultType="myPackage">
        select * from locker
    </select>

    <!-- int getCount() -->
    <select id="getCount" resultType="int">
        select count(*) from locker
    </select>

</mapper>